.MainContainer{
    width: auto;
    height: auto;
    background-color: #F3F3F3;
    display: flex;
    justify-content: center;
}

.mainPostCardBlock {
    width: 1120px;
    height: 1675px;
}

.TextBlock {
    width: 1120px;
    height: 120px;
    font-family: Inter;
    font-size: 56px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: left;
}



.container{
    width: 1120px;
    height: 1300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.SmallContainer {
    width: 352px;
    height: 1349px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.LeftContainer {
    width: 736px;
    height: 1245px;
}


.LargeContainer{
    width: 736px;
    height: 452px;
}

.MediumContainer{
    width: 736px;
    height: 913px;
    display: flex;
    flex-direction: column;
}


.TopBlock{
    width: 736px;
    height: 456px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

