.mainContainer{
    width: auto;
    height: auto;
    background-color: #F3F3F3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mainPostCardBlock {
    width: 1120px;
    height: 1560px;
}

.textBlock {
    width: 1120px;
    height: 120px;
    font-family: Inter;
    font-size: 56px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: left;
}

.container{
    width: 1120px;
    height: 1300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.smallContainer {
    width: 352px;
    height: 1349px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.leftContainer {
    width: 736px;
    height: 1245px;
}


.largeContainer{
    width: 736px;
    height: 452px;
}

.mediumContainer{
    width: 736px;
    height: 913px;
    display: flex;
    flex-direction: column;
}


.topBlock{
    width: 736px;
    height: 456px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

